@{
    ViewBag.Title = ViewBag.Name;
    Layout = "~/Views/Shared/_aside.cshtml";
}

<div class="module w95 floatdiv">
    <header>
        <h3>@ViewBag.Name</h3>
    </header>
    <fieldset class="description">
        <legend>脚本描述：</legend>
        <pre>@ViewBag.Desctiption</pre>
    </fieldset>
    <fieldset class="position">
        <legend>定位坐标</legend>
        <div>
            <input type="checkbox" value="top" id="top" /><label for="top">顶部</label> <input class="position" type="text" name="top" value="0" disabled="disabled" />
            <input type="checkbox" value="down" id="down" /><label for="down">下部</label> <input class="position" type="text" name="down" value="0" disabled="disabled" />
            <input type="checkbox" value="right" id="right" /><label for="right">右部</label> <input class="position" type="text" name="right" value="0" disabled="disabled" />
            <input type="checkbox" value="left" id="left" /><label for="left">左部</label> <input class="position" type="text" name="left" value="0" disabled="disabled" />
            <label class="error"></label>
        </div>
    </fieldset>
    <fieldset class="div">
        <legend>图片或文字</legend>
        <input type="radio" name="div" id="img" value="img" checked="checked" /><label for="img">图片</label>
        <input type="radio" name="div" id="text" value="text" /><label for="text">文字</label>
        <div class="img">
            <ul>
                <li><label for="linkurl">链接地址：</label> <input type="text" id="linkurl" style="width:500px;" /></li>
                <li><label for="imgurl">图片地址：</label> <input type="text" id="imgurl" style="width:500px;" /></li>
                <li><label for="width">图片宽度：</label> <input type="text" id="width" style="width:80px;" /> <label>px（像素）</label></li>
                <li><label for="height">图片宽度：</label> <input type="text" id="height" style="width:80px;" /> <label>px（像素）</label></li>
            </ul>
        </div>
        <div class="text" style="display:none;">
            <ul>
                <li><label for="tWidth">文字宽度：</label> <input type="text" id="tWidth" style="width:80px;" /> <label>px（像素）</label></li>
                <li><label for="tHeight">文字宽度：</label> <input type="text" id="tHeight" style="width:80px;" /> <label>px（像素）</label></li>
                <li><label for="link">链接地址：</label> <input type="text" id="link" style="width:500px;" /></li>
                <li><label for="texts">文字内容：</label> <textarea id="texts" style="width:498px;height:80px;overflow:auto;"></textarea></li>
            </ul>
        </div>
    </fieldset>
    <div class="code"></div>
</div>
@section Styles{@Styles.Render("~/Content/SyntaxHighlighterCss")}
@section SyntaxHighlighter{@Scripts.Render("~/bundles/SyntaxHighlighter")}