@{
    ViewBag.Title = "常用脚本";
    Layout = "~/Views/Shared/_aside.cshtml";
}
<div class="module scripts">
    <header>
        <h3>常用脚本/特效 <span class="remote"></span></h3>

    </header>
    <div class="pager effect">
        @foreach (var e in Model)
        {
            string name = e.name;
            string action = e.action;
            @(Html.ActionLink(name, action, new { id = ViewBag.SiteID }))
        }
    </div>
</div>