html { overflow: auto; }
body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #0a5186;
    padding:0;
    margin:0;
    outline:0;
}
header, footer, nav, section {
    display: block;
}
a { text-decoration: none; }
a:link, a:visited { color: #77bace; }
a:hover { text-decoration: underline; }
li, ol { list-style: none; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.LoginForm { margin: 0 auto; width: 300px; height: 250px;font-family: sans-serif,'Microsoft YaHei'; border: 1px solid #555555; margin-top: 150px; padding: 20px 50px 0 50px;background-color:#FFF; border-radius: 8px;  -moz-transition:0.5s;-o-transition:0.5s;-webkit-transition:0.5s;transition:0.5s;color:#222;box-shadow:rgba(255, 255, 255, 0.80) 0 0 30px 5px;
}
    .LoginForm:hover { background: border-box #FFFFFF 5px; -moz-transition:0.5s;-o-transition:0.5s;-webkit-transition:0.5s;transition:0.5s;}
    .LoginForm input { width: 180px;height:22px;}
    .LoginForm button { width: 80px; height: 26px; line-height:20px;margin:0 20px;}
    .LoginForm header {text-align: center;-moz-text-shadow:0 2px 3px #555;-o-text-shadow:0 2px 3px #555;-webkit-text-shadow:0 2px 3px #555;text-shadow:0 2px 3px #555;}
    .LoginForm ul.input {height:90px;}
    .LoginForm ul.input li {height:50px;}
    .LoginForm ul.input label {font-size:16px;}
    .LoginForm ul.input li span{display:block;height:30px;line-height:30px;font-size:12px;font-family:Arial;}
    .LoginForm .erros{padding:0px 0px 20px 40px;height:20px;color:red;}
    .LoginForm footer { text-align:center;}


.main {width:100%;margin: 0 auto; font-family: sans-serif,'Microsoft YaHei';  background-color:rgb(248, 248, 248);color:#222;overflow:hidden;}
    .main header {height:80px;line-height:80px;background-color:#333030;color:#ed8f00;}
        .main header h1 { text-align: center; width: 300px;box-shadow:3px 0px 10px #000;float:left;}
        .main header h2 { padding-left: 55px;}
        .main header h1, .main header h2 { margin: 0; display:inline-block;}
.aside {box-shadow: 3px 0px 5px #333;width:260px;float:left;padding:20px;background:rgb(224, 224, 227);}
    .aside h3 { color: #1f1f20; text-shadow: 0px 1px 0px #fff;font-size:16px;}
    .aside ul li {line-height:25px;}
        .toggleLink { float: right; color: #666; display: block; text-shadow: 0px 1px 0px #fff;cursor:pointer;font-size:12px;font-family:'宋体';}
.aside .toggle a { color: #666; text-shadow: 0px 1px 0px #fff; }
.content {background-color:rgb(248, 248, 248);height:100%;float:left;}