html { overflow: auto; overflow-y:scroll;}
body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #352925;
    padding:0;
    margin:0;
    outline:0;
}
header, footer, nav, section {
    display: block;
}
a { text-decoration: none; }
a:link, a:visited { color: #77bace; }
a:hover { text-decoration: underline; }
li, ol { list-style: none; }
img { vertical-align:middle;border:0;}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
.clear { clear: both; height: 0px; line-height: 0px; }
.LoginForm { margin: 0 auto; width: 300px; height: 250px;font-family: sans-serif,'Microsoft YaHei'; border: 1px solid #555555; margin-top: 150px; padding: 20px 50px 0 50px;background-color:#FFF; border-radius: 8px;  -moz-transition:0.5s;-o-transition:0.5s;-webkit-transition:0.5s;transition:0.5s;color:#222;box-shadow:rgba(255, 255, 255, 0.80) 0 0 30px 5px;
}
    .LoginForm:hover { background: border-box #FFFFFF 5px; -moz-transition:0.5s;-o-transition:0.5s;-webkit-transition:0.5s;transition:0.5s;}
    .LoginForm input { width: 180px;height:22px;}
    .LoginForm button { width: 80px; }
    .LoginForm header {text-align: center;-moz-text-shadow:0 2px 3px #555;-o-text-shadow:0 2px 3px #555;-webkit-text-shadow:0 2px 3px #555;text-shadow:0 2px 3px #555;}
    .LoginForm ul.input {height:90px;}
    .LoginForm ul.input li {height:50px;}
    .LoginForm ul.input label {font-size:14px;}
    .LoginForm ul.input li span{display:block;height:30px;line-height:30px;font-size:12px;font-family:Arial;}
    .LoginForm .erros{padding:0px 0px 20px 40px;height:20px;color:red;}
    .LoginForm footer { text-align:center;}


.main {width:100%;margin: 0 auto; font-family: 'Microsoft YaHei',sans-serif;  background-color:rgb(248, 248, 248);color:#222;overflow:hidden;}
    .main h3 { color: #1F1F20; text-transform: uppercase; text-shadow: 0 1px 0 #fff; font-size: 16px; margin: 8px 20px; }
    .main>header {height:80px;line-height:80px;background-color:#352925;color:#ed8f00;}
        .main header h1 { text-align: center; width: 20%;box-shadow:3px 0px 10px #000;float:left;}
        .main header h2 { padding-left: 55px;}
        .main header h1, .main header h2 { margin: 0; display:inline-block;}
.aside {box-shadow: 3px 0px 5px #333;width:20%;background:rgb(224, 224, 227);float:left;}
    .aside h3 {width:90%;margin:10px auto;color: #1f1f20; text-shadow: 0px 1px 0px #fff;font-size:16px;}
    .aside ul { width:90%; }
    .aside ul li {line-height:25px;}
.toggleLink { cursor: pointer; background: #f1ebe3; display: inline-block; padding: 3px 5px; text-decoration: none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 1px 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.5); margin: 3px; font-size: 10px; float: right; font-weight: normal; width:30px;text-align:center;font-family:Arial;}
            .toggleLink:hover {background: #fff;text-decoration:none;}
.aside .toggle a { color: #333;}
.content {background-color:rgb(248, 248, 248);height:100%;width:78%;float:right;}

.module { border: 1px solid #9BA0AF; width: 100%; margin: 20px 3% 0 3%; margin-top: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #ffffff; box-shadow: 1px 1px 3px rgba(0,0,0,0.5);-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);-o-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);}
.passwordForm { width: 50%; }
.user { width: 70%; }
.newuser { width: 60%; }
.newscript{width:80%;}
.list { width: 90%;overflow:hidden;}
    .list header { position: relative; }
        .list header h3 span { color: #f00;font-family:'宋体';font-size:12px;}
        .list header h3 span.lock { color: #8e6300; }
        .list header h3 span.dates { color: #909090;font-size:11px;font-family:sans-serif; }
.hide { display: none; }
.codeHigh,codeList { display: none; }
.nomargin { position: absolute; right: 10px; top:10px;}
.nomargin button {  }
div.editor { padding: 3px 3px 3px 3px; display:none;}
div.editor textarea { width: 100%;min-height:300px;border:0;font-family:Consolas;font-size:14px;line-height:24px;}
.module header { height: 38px; width: 100%; background: #F1F1F4; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;box-shadow: 0px 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5); }
    .module header.delete h3 { color: red; }
.module header h3 { float: left;}
    .module header h3 input { height:22px;line-height:20px;font-size:22px;font-family:'Microsoft YaHei';width:450px; }
.module .contents { margin: 10px 20px; color: #666; }
    .module .contents .forms { line-height: 25px;font-family:'宋体';font-size:12px;}
        .module .contents .forms label { width: 100px; text-align: right; display:inline-block;color:#1d1313}
        .module .contents .forms input { width: 120px; }
        .module .contents .forms textarea {width: 70%;min-height:300px;font-family:Consolas;font-size:14px;line-height:24px;}
        .module .contents .forms textarea.code {width:70%;min-height:20px;height:20px;font-family:Consolas;font-size:14px;overflow-y:hidden;}
    .module .contents .button { margin-left: 100px;float:none; }
        .module .contents .button button { margin: 5px 10px; }
.module .msg { margin: 10px 0px 10px 100px; color: green;font-family:'宋体';font-size:12px;}

.tablesorter { width: 100%; margin: -5px 0 10px 0; font-family:"Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;font-size:12px;}
    .tablesorter td { margin: 0; padding: 0; border-bottom: 1px dotted #ccc; }
    .tablesorter thead tr { height: 34px; text-align: left; text-indent: 10px; }
        .tablesorter thead tr th { text-align: left;font-weight:normal;}
            .tablesorter thead tr th img { cursor: pointer; }
            .tablesorter thead tr th span,.pager span { cursor: pointer;font-weight:normal;font-family:"Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;font-size:12px;}
                .tablesorter thead tr th span:hover,.pager span:hover { background-color:#eb9869; }
    .tablesorter td { padding: 10px 10px; }
    .tablesorter input[type=image] { margin-right: 10px; }
    .tablesorter td input[type=checkbox] { padding:0;margin:0;outline:0;}
    .tablesorter .action img { margin: 0 5px; cursor:pointer;}
    .tablesorter tbody tr{ transition-duration:0.5s;}
    .tablesorter tbody tr:hover { background-color: #e08414;color:#000;font-family:'Microsoft YaHei';cursor:default;transition-duration:0.5s;}
.control { padding: 5px; }
.pager { font-size:14px;}
.left { float: left;height:32px;}
.right { float: right;}
.emptydatatemplate { display: none; }
.exportlink { display: none; }
.pager a,.pager button { background: #e6b975;color:#391a00;border-radius: 5px;padding:4px 8px;font-family:'Microsoft YaHei UI';text-align:center;box-shadow: 1px 1px 3px rgba(0,0,0,0.4);margin: 3px; font-size: 14px;border:1px solid #ab9063;transition-duration:0.5s;cursor:default;}
    .pager a:hover,.pager button:hover { text-decoration: none;background-color:#fbebd4;}
    .pager a.current { cursor:default;background: #513000;color:#f9e2c3}